<header>
    <a href="/"><h3>Placement Cell</h4></a>
    <h3>Well come&nbsp;<%=user.name%> </h4>
    <div>
    <h4><a href="/company/home">Company</a></h4>
    <a href="/dowmload-csv"><h4>Download Report</h4></a>
    <h4><a href="/destroy">Sign Out</a></h4>
    </div>
</header>